/* KRISTINA"S STUFF! */

@media screen and (max-width: 992px) {

    /* LANDING PAGE */

    .chooseCard {
        height: 90%;
    }
        
    .display2 {
        text-align: center;
        margin-bottom: 2%;
    }

 .choosePlan .nav-fill {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
 }



}

/* Footer NavBar */

 @media screen and (max-width: 766px){
 footer .link h5 {
    text-align: center;

}

.footButton {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
        margin-bottom: 2% !important;
        margin-top: 2%;
    }

.container .logo{
    max-width: 50%;
    align-content: center;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin: auto;
}

footer .display4{
    font-family: "Fredoka";
    font-size: 40px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(--Brown-400, #401717);
    text-align: center;
}

footer .chooseCard {
    align-content: center !important;
    text-align: center;
    padding: 2% !important;
    height: auto !important;
}

.textBox {
    padding: 2%;
}

 }



@media (max-width: 576px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;

}

.textBox {
    padding: 3%;
}

}