body {
    background-color: #fff;
    margin-top: 2rem !important;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147%;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.display1 {
    font-family: "Fredoka";
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(--Brown-400, #401717);
    text-align: center;
    }

    .display2{
        font-family: "Fredoka";
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        color: #fff;
        margin-bottom: 25%;
    }

.display3 {
    font-family: "Fredoka";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(--Brown-400, #401717);
    text-align: center;
    }



H1 {
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
}

H2 { 
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;

}

H3 {
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}

H4 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

H5 {
    margin-bottom: 0;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
}

H6 {
    margin-bottom: 0;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}


body-small {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 147%; 
}

label{
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

header {
    display: block;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

p{
    margin-bottom: 0;
}

.container{
    margin-top: 24px !important;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    align-content: center !important;
}

.currentPage{
    color:#C73E11 !important;
}
.currentPage:hover{
    color:#C73E11 !important;
}

.nav-link{
    align-content: center;
}

nav a:hover{
    color: #003C3D !important;
}

nav a{
    color: #003C3D !important;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 12px;
}

.primaryBtn{
    background-color: #003C3D !important;
    border-radius: 72px !important;
    color: white !important;
    border: 2px solid !important;
    border-color: #003C3D !important;
    max-width: 200px;
}

.primaryBtn:hover{
    border: 2px solid !important;
    border-color: #7ED5D8 !important;
    color: #003C3D !important;
    background-color: #7ED5D8 !important;
}

.secondaryBtn{
    background-color: #fff !important;
    border-radius: 72px !important;
    border: 2px solid !important;
    border-color: #003C3D !important;
    color: #003C3D !important;
    max-width: 180px;
    box-sizing:border-box;
}

.secondaryBtn:hover{
    background-color: #7ED5D8 !important;
    border: 0px !important;
    border: 2px solid !important;
    border-color: #7ED5D8 !important;
}

/*------------------Footer------------------*/

footer{
    margin-top: 80px;
    background-color: #003C3D;
    padding: 1em;
    display:flex;
}

.card-title{
    margin-bottom: 56px;
}

.mb-3{
    max-width: 40%;
    padding: 3em;
   }


/*------------------FAQ------------------*/
.pageTitle{
    position: sticky;
    max-width: 1300px;
    margin-left: 10%;
    margin-right: 10%;
    top: 36em;
    z-index: 1;
}

.faq{
    max-width: 1300px !important;
}

banner{
    display: flex !important;
}

.banner img{
    width: -webkit-fill-available;
    z-index: 0;
}

.banner .display1{
    text-align: left !important;
}

.accordion-item{
    background-color: #E5F7F7 !important;
}

.accordion-button{
    background-color: #E5F7F7 !important;
}

button strong{
    margin-bottom: 0;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #260E0E;
}

/*------------------Testimonials------------------*/

.te{
    text-align: left !important;
}

.tst{
    display:flex;
}

.tstSpace{
    margin: 8px;
}

.rating{
    display: inline-block;
    gap: 8px;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
}

.tstCard{
    width: auto;
    text-align: center;
}

/*------------------Home------------------*/

.center {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    
}

.choosePlan {
    background-color: #006E70;
padding: 5%;

}

.col {
    background-color: #fff;
    border-radius: 16px;
    margin:2%;
    padding:3% !important;
}

/*------------------HIW------------------*/
.howCont{
    display: flex;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    align-content: center !important;
}

.textbox{
    display: inline-flex;
    flex-direction: column;
    justify-content:center;
    align-items:left;
    width: 100%;
    padding: 2%;
}

.ref{
    width: 100%;
    justify-content: center;
}

.textbox .display1{
    text-align: left !important;
    padding-bottom: 32px;
}

.textbox .display3{
    text-align: left !important;
    padding-bottom: 32px;
}

.textbox p{
    padding-bottom: 16px;
}