body {
    background-color: #fff;
    margin-top: 2rem !important;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 147%;
    width: auto;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: auto;
}

.display1 {
    font-family: "Fredoka";
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(--Brown-400, #401717);
    text-align: center;
}


.display3 {
    font-family: "Fredoka";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(--Brown-400, #401717);
    text-align: center;
}

.display4 {
    font-family: "Fredoka";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(--Brown-400, #401717);
    text-align: left;

}



H1 {
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    color: var(--Brown-400, #401717);
}

H2 {
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    color: var(--Brown-400, #401717);

}

H3 {
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}

H4 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

H5 {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
}

H6 {
    margin-bottom: 15px !important;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;


}


body-small {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 50%;
}

label {
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

header {
    display: block;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    margin-bottom: 0;
}

.container {
    margin-top: 24px !important;
    margin-bottom: 24px;
    max-width: 1300px;
    margin-left: auto !important;
    margin-right: auto !important;
    align-content: center !important;
}

.nav-link {
    align-content: center;
}

nav a:hover {
    color: #003C3D !important;
}

nav a {
    color: #003C3D !important;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.primaryBtn {
    color: #fff !important;
    background-color: #003C3D !important;
    border-radius: 72px !important;
    border: 2px solid !important;
    border-color: #003C3D !important;
    max-width: 200px;
}

.primaryBtn:hover {
    border: 2px solid !important;
    border-color: #7ED5D8 !important;
    color: #003C3D !important;
    background-color: #7ED5D8 !important;
}

.secondaryBtn {
    background-color: #fff !important;
    border-radius: 72px !important;
    border: 2px solid !important;
    border-color: #003C3D !important;
    color: #003C3D !important;
    max-width: 180px;
    box-sizing: border-box;
}

.secondaryBtn:hover {
    background-color: #7ED5D8 !important;
    border: 0px !important;
    border: 2px solid !important;
    border-color: #7ED5D8 !important;
}

.link h5 {
    padding: 0.2em;
    border-radius: 8px;
    text-align: center;
    width: 200px;
}

.link h5:hover {
    color: #006E70;
    padding: 0.2em;
    font-weight: 600;
}

.currentPage h5 {
    font-weight: 600 !important;
    color: #C73E11 !important;
    padding: 0.2em;
    border-radius: 8px;
    text-align: center;
    width: 200px
}

.currentPage h5:hover {
    color: #C73E11 !important;
}


/*------------------Footer------------------*/

footer {
    margin-top: 80px;
    background-color: #F5F5F5;
    border-top: .25rem solid#003C3D;
    display: flex;
}

footer .logo {
    max-width: 80%;
    margin-bottom: 3%;
}

.footButton {
    margin-bottom: 5% !important;
    margin-top: 5%;
}


footer .chooseCard {
    align-content: center !important;
    text-align: center;
    padding: 5% !important;
    height: auto !important;
}

footer .link h5 {
    color: #003C3D !important;
}

footer .link h5 {
    padding: 0.2em;
    border-radius: 8px;
    text-align: left;
    width: 200px;
}

.textBox {
    padding: 8%;
}

.legalContainer {
    padding-top: 0%;
    max-width: auto;
    text-align: center;
    align-content: top !important;
    background-color: #F5F5F5;
}

/*------------------FAQ------------------*/
.pageTitle {
    position: sticky;
    max-width: 1300px;
    margin-left: 10%;
    margin-right: 10%;
    top: 36em;
    left: 16em;
}

.faq {
    max-width: 1300px !important;
}

banner {
    position: relative;
    display: flex !important;
}

.banner img {
    width: -webkit-fill-available;
}

.banner .display1 {
    text-align: left !important;
}

.accordion-item {
    background-color: #E5F7F7 !important;
}

.accordion-button {
    background-color: #E5F7F7 !important;
}

button strong {
    margin-bottom: 0;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #260E0E;
}

/*------------------Testimonials------------------*/

.ts {
    text-align: left !important;
}

.tst {
    display: flex;
}

.tstSpace {
    margin: 8px;
}

.rating {
    display: inline-block;
    gap: 8px;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
}

.tstCard {
    width: auto;
    text-align: center;
}

/*------------------Home------------------*/

.center {
    display: flex;
    justify-content: center !important;
    align-items: center !important;

}

.choosePlan {
    background-color: #006E70;
    padding: 2%;

}

.chooseCard {
    background-color: #fff;
    border-radius: 24px !important;
    padding: 7% !important;
    text-align: left;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}



.display2 {
    font-family: "Fredoka";
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: #fff;
    text-align: center;
    margin-bottom: 5%;
}


.col-md-3 {
    align-content: center;
    padding-bottom: 3%;
}




.bread {
    position: relative;
    display: grid;

}



/*------------------HIW------------------*/
.howCont {
    display: flex;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    align-content: center !important;
}

.container {
    margin-top: 24px !important;
    max-width: 1300px;
    margin-left: auto !important;
    margin-right: auto !important;
    align-content: center !important;
}

.textbox {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    padding: 2%;
}

.pld {
    max-width: 100%;
}

.ref {
    max-width: 100%;
    text-align: center;
}

.textbox .display1 {
    text-align: left !important;
    padding-bottom: 32px;
}

.textbox .display3 {
    text-align: left !important;
    padding-bottom: 32px;
}

.textbox p {
    padding-bottom: 16px;
}

.navbar-collapse h5 {
    align-items: left;
}


/*-------------home experiment---------*/

.overlay-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
<<<<<<< HEAD
  }
  
  .cells {
    background: #e5f7f7;
    border-radius: 20px; 
    color: #260E0E;
=======
}

.cells {
    background: #7ED5D8;
    border-radius: 50px;
    color: white;
>>>>>>> 4fd86f2bdbe2a49768152ac7218cdc7957820964
    text-align: center;
    padding: 20px;
    margin-top: 4em;
    margin-bottom: 4em;
<<<<<<< HEAD
    box-shadow: 0 4px 8px rgba(0, 84, 86, 0.2);;
  }
  
  .phone {
=======
}

.phone {
>>>>>>> 4fd86f2bdbe2a49768152ac7218cdc7957820964
    z-index: -1;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    border-radius: 35px;
    }
    
.butter{
=======
    border-radius: 32px;
}

.butter {
>>>>>>> 4fd86f2bdbe2a49768152ac7218cdc7957820964
    z-index: 2;
    top: 56px;
    position: relative;
    background-image: url("../images/Ellipse 166.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:65% ;
}

.edge {
    max-height: 50%;
    padding-bottom: 5em;
}

<<<<<<< HEAD
.circle{

    max-width: 100%;
    max-height: auto;
    margin-left: 2px;
    margin-right: auto;
    z-index:-2;
    position: absolute;
    text-align: center;
    }
    
=======
.circle {
    max-width: auto;
    max-height: auto;
}
>>>>>>> 4fd86f2bdbe2a49768152ac7218cdc7957820964
